@import '../core/vars.scss';
.picker136{
    width: 136px
}
.picker300{
    width: 322px
}
.el-form-item.pause-time {
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
        width: 136px;
        display: inline-block
    }
    .until{
        padding: 0 7px
    }
}
.picker322 >.el-picker-panel__footer{
    .el-button--text{
        padding: 7px 15px;
        color: #606265;
        border: 1px solid #d8dce5;
        &:hover{
            color: #52BBFF;
            border-color: #cbebff;
            background-color: #eef8ff;
        }
    }
    button:last-of-type{
        color: #fff;
        background-color: #52BBFF;
        border-color: #52BBFF;
        &:hover{
            background: #75c9ff;
            border-color: #75c9ff;
            color: #fff;
        }
    }
}
.el-date-table th{
    border-bottom: solid 1px #D7DBE6;
}

.el-time-spinner__list::after, .el-time-spinner__list::before{
    height: 77px;
}
//选中的日期
.el-time-panel__content::before,
.el-time-panel__content::after,{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff
}
.el-time-spinner__item.active:not(.disabled){
    color:$theme;
    background: #EDF8FF;
}
//滚动条
.el-scrollbar__bar{
    right: 0;
}
.el-scrollbar__bar.is-horizontal{
    display: none
}
.el-scrollbar:hover > .el-scrollbar__bar, .el-scrollbar:active > .el-scrollbar__bar, .el-scrollbar:focus > .el-scrollbar__bar{
    background: #eceef2;
}
.el-scrollbar__thumb{
    background: #B4BDCE;
    border-radius: 37px;
}
.picker322{
    .el-time-panel{
        width: 145px;
        left: 5px;
    }
    .el-scrollbar__bar.is-vertical > div{
        height: 19.4237%;
    }
}