@import '../core.scss';
@import './reset.scss';
@import './animation.scss';
@import './layout.scss';

#nprogress .bar{
  background: $theme-color;
}
.pointer {
  cursor: pointer;
}

.clearfix {
  @extend %clearfix;
}

.hidden {
    visibility: hidden;
    display: none;
}

.float-right{
  float:right
}

// loadingMask
.loading-mask {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  z-index: 10000;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

//鼠标悬浮
@mixin after-active($left,$top) {
  // content: $content;
  opacity: 0;
  // -webkit-transition: opacity linear 0.1s 0.1s,
  // top linear 0.1s 0.1s;
  // transition: opacity linear 0.1s 0.1s,
  // top linear 0.1s 0.1s;
  transition:linear .1s;
  position: absolute;
  left: $left;
  top: $top;
  background: #FFF;
  padding: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-size: 12px;
  color: #303133;
}


.success-text{
  color: $success 
}
.error-text{
  color:$danger 
}
.primary-text{
  color:$theme-color 
}
.warning-text{
  color:$warning 
}
.info-text{
  color:$info-text-color 
}
.el-icon-tip::before,
.el-icon-import::before,
.el-icon-downloadtemp:before,
.el-icon-export:before,
.el-icon-exporttxt:before,
.el-icon-start:before,
.el-icon-pause:before,
.el-icon-play:before,
.el-icon-cancel:before,
.el-icon-printer:before,
.el-icon-date:before,
.el-icon-call:before{
  width: 14px;
  height: 14px;
  display: inline-block;
  content:""!important;
  transition: all .2s linear;
  vertical-align: middle;
  cursor: pointer;
}
$el-icons: downloadtemp, export, exporttxt, start,pause, play,cancel,call,date,tip;
  @each $el-icon in $el-icons {
    .el-icon-#{$el-icon}:before {
      background: url(../../../assets/icons/btn-#{$el-icon}.png) no-repeat center/contain
    }
}
/**
* icon 两种状态
*/
.el-button{
  $el-icons:import;
  @each $el-icon in $el-icons {
    .el-icon-#{$el-icon}:before {
        transition: .1s;
        background: url(../../../assets/icons/btn-#{$el-icon}.png) no-repeat center/contain
    }
    &:hover,&:focus{
      .el-icon-#{$el-icon}{
        color: #fff;
      }
      .el-icon-#{$el-icon}:before {
          background: url(../../../assets/icons/btn-#{$el-icon}-hover.png) no-repeat center/contain
      }
    }         
  }
}

.btn-error{
  &.el-button:hover, &.el-button:focus,&.el-button:active{
    background: #FE4F4E;
    border: 1px solid #FE4F4E;
    color: #fff;
  }
  .el-icon-close:before{
    vertical-align: middle;
  }
}
.el-button:hover,.el-button:focus{
  .el-icon-export:before {
    transition: .1s;
    background: url(../../../assets/icons/btn-export-hover.png) no-repeat center/contain
  }
  .el-icon-exporttxt:before {
    transition: .1s;
    background: url(../../../assets/icons/btn-exporttxt-hover.png) no-repeat center/contain
  }
  &.tasks-tatus .el-icon-play:before {
    transition: .1s;
    background: url(../../../assets/icons/btn-play-hover.png) no-repeat center/contain
  }
}
.el-button[disabled]{
  &.tasks-tatus .el-icon-play:before {
    transition: .1s;
    background: url(../../../assets/icons/btn-play-disabled.png) no-repeat center/contain
  }
  .el-icon-exporttxt:before {
    transition: .1s;
    background: url(../../../assets/icons/btn-exporttxt-disabled.png) no-repeat center/contain
  }
}

.showdetail{
  .el-icon-edit,.el-icon-delete{
    width: 16px;
    height: 16px;
  }
  .el-icon-edit:before,.el-icon-delete:before{
    display: inline-block;  
    width: 16px;
    height: 16px;
    content:""!important;
    transition: all .1s linear;
    vertical-align: middle
  }
  .el-icon-edit:before{
    background:url(../../../assets/icons/action-edit.png) no-repeat center/contain;
  }
  .el-icon-edit:hover:before{
    background:url(../../../assets/icons/action-edit-hover.png) no-repeat center/contain;
  }
  .el-icon-delete:before{
    background:url(../../../assets/icons/action-delete.png) no-repeat center/contain;
  }
  .el-icon-delete:hover:before{
    background:url(../../../assets/icons/action-delete-hover.png) no-repeat center/contain;
  }
  .el-icon-edit:hover::after {
    content: '编辑';
      @include after-active(-9px, 80%);
    }
  .el-icon-delete:hover::after{
    content: '删除';    
    @include after-active(30px ,80% );

  }
    .el-icon-delete:hover::after,
    .el-icon-edit:hover::after {
      opacity: 1;
      top: 23px;
    }
  }

// 文本标签
.tags-collection,
.tags-pure-collection {
  background: #F0F2F5;
  padding: 0 6px 6px;
  border-radius: 3px;
  max-height: 142px;
  overflow: auto;
}
.tags-collection{
  margin: 23px 25px 1px 110px;
}
.clusters-list {
    max-height: 142px;
    overflow: auto;
    margin: 30px 0 0 110px;
}
.text-tag {
  display: inline-block;
  color: $subsidiary-text-color;
  border-radius: 3px;
  border: 1px solid #D7DBE6;
  line-height: 20px;
  background-color: #fff;
  padding: 3px 9px;  
  margin: 6px 6px 0 0;
}
.text-tag{
 .el-icon-close {
    display: inline-block;
    text-align: center;
    line-height: 18px;
    @include size(18px);
    border-radius: 50%;
    transition: all linear 0.15s;
    color : $info-text-color;
    font-size: 14px;
    transform: scale(.75);
    cursor: pointer;
    &:hover{
      color : #fff ;
      background-color:$text-error;
    }
 }
}

.el-button.largebtn{
  padding: 12px 28px;
}
// title
.title{
  display: block;
  position: relative;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  $delay: 0.5s;
  &::after{
    position: absolute;
    display: block;
    max-width: 100%;
    content: '';
    transition: opacity linear .35s $delay, top linear .15s $delay;
    opacity: 0;
    top: 80%;
    z-index: 10;
  }
  &:hover::after{
    opacity: 1;
    left: 0;
    top: 120%;
    z-index: 100;
    content: attr(attr-title);
    padding: 5px;
    background: #fff;
    box-shadow: 0 2px 4px 0 #B4BDCE;
    border-radius: 4px;
    line-height: 20px;
    white-space: normal;
    text-align: justify;
  }
}

.text-align-right {
    text-align: right;
    margin-bottom: 20px;
    .el-button{
      font-weight: normal;
    }
    .el-icon-plus{
      font-weight: bold;
    }
}
.action-column{
  margin-bottom: 20px;
  .el-button{
    font-weight: normal;
  }
  .el-icon-plus{
    font-weight: bold;
  }
}

// 搜索
.table-search{
  // margin-bottom:36px;
  .el-form-item + .el-form-item{
    margin-top:0
  }
  .el-form--inline .el-form-item{
    margin-right: 0;
  }
  .el-form--inline>.el-form-item{
    margin-right:40px;
    margin-bottom: 24px;
    &.label{
      .el-form-item__label{
        width: 96px;
        text-align: right
      }
    }
  }
  .el-form-item .el-form-item__content .el-button{
    vertical-align: baseline; 
  }
}
//分隔线
.horizontal-line{
  height: 1px;
  width: 100%;
  background-color: #D7DBE6;
  border: none;
  margin-bottom: 16px;
}
.vertical-line{
  display: inline-block;
  height: 14px;
  width: 1px;
  background-color: #BABCC1;
  border: none;
  margin: 0 30px;
  vertical-align: middle
}
.el-input--prefix .el-input__inner{
  padding-left: 32px!important;
}

.dispaly-flex{
  display: flex
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.flex-1{
  flex: 1
}
.flex-3{
  flex: 3
}

.highlight{
  color:#21A8FF
}
.cutline{
  height: 1px;
  width: 100%;
  border: none;
  border-top: 1px solid #E6E8EE;
  padding: 0;
  margin: 0
}

